# 1.&nbsp;Overview

Cấu trúc giá thành của một đôi giày Nike

<br>
<center>
<img src="https://raw.githubusercontent.com/hungpq7/course-resource/main/image/nike_shoe_cost.webp" width=500px;"/>
</center>
<br>

*Nguồn: https://www.solereview.com/what-does-it-cost-to-make-a-running-shoe/*

**Thảo luận**: Bạn còn nhớ kiến thức gì được học về Xác suất - Thống kê khi đi học không? Đó là gì? Các khó khăn bạn gặp khi học xác suất thống kê hồi đó là gì?

## 1.1. Xác suất
Định nghĩa từ Wikipedia:

> Xác suất là một nhánh của toán học liên quan đến các mô tả bằng số về khả năng xảy ra một sự kiện. Xác suất của một sự kiện là một số trong khoảng từ 0 đến 1, trong đó, 0 biểu thị sự bất khả thi và 1 biểu thị sự chắc chắn. Xác suất càng lớn thì khả năng xảy ra sự kiện càng cao.

Ví dụ: ChatGPT suy nghĩ như thế nào?

<center>
<img src="https://raw.githubusercontent.com/hungpq7/course-resource/main/image/chatgpt_spectrum.png" width=700px;"/>
</center>
<br>

*Nguồn: https://platform.openai.com/playground*

## 1.2. Thống kê
> Thống kê là khoa học nghiên cứu hệ thống các phương pháp thu thập, xử lý và phân tích các con số của những hiện tượng số lớn để tìm hiểu bản chất và tính quy luật vốn có của chúng trong điều kiện nhất định. Vai trò quan trọng của thống kê chính là tìm ra ý nghĩa hay bản chất đằng sau các con số, làm cơ sở cho việc ra quyết định.

Vai trò của Thống kê:
- Phản ánh những quy luật về lượng của các hiện tượng trong tự nhiên, kinh tế, xã hội.
- Tìm ra ý nghĩa đằng sau những con số, làm cơ sở cho việc ra quyết định.

Ví dụ: Công ty bạn thực hiện 1 chiến dịch marketing trên 2 kênh Facebook và Google, sau khi triển khai 1 thời gian bạn muốn kiểm định xem chiến dịch nào hiệu quả hơn để có thể tập trung nguồn lực cho kênh đó. Bạn bắt đầu thu thập dữ liệu về các chiến dịch, số install, số KH mua hàng, chi phí,... và thực hiện các kiểm định thống kê để đưa ra kết luận

# 2.&nbsp;Python cơ bản

## 2.1. Basic concepts

#### Object

**Object** là đối tượng làm việc chính trong Python. Mọi tác vụ đều được thực hiện xoay quanh object.

In [ ]:
100

100

In [ ]:
100 - 38.5

61.5

Mỗi object được phân loại vào một **type** cụ thể, phổ biến nhất là:
- `int` (integer - số nguyên)
- `float` (số thập phân)
- `str` (string - chuỗi ký tự)

In [ ]:
type(100)

int

In [ ]:
type(38.5)

float

In [ ]:
type(1e4)

float

In [ ]:
type('python')

str

Chuyển đổi giữa các loại object (data type) với nhau.

In [ ]:
int(3.14)

3

In [ ]:
int('43')

43

In [ ]:
float('0.5')

0.5

In [ ]:
str(3*2)

'6'

### Biến và phép gán

Gán giá trị của một object cho một **variable** (biến) giống như đặt tên cho object. Nguyên tắc đặt tên biến:
- Chỉ được chứa chữ, số và ký tự underscore `_`
- Không được chứa khoảng trắng và các ký tự đặc biệt
- Phân biệt viết hoa và viết thường
- Nên đặt rõ nghĩa. Hạn chế đặt tên biến là `a`, `b`, `x`, `y`.

In [ ]:
this_year = 2019
birth_year = 2001

age = this_year - birth_year
age

18

In [ ]:
# overwrite
year = 2020
year = year + 2
year

2022

### Function
**Function** (hàm) nhận đầu vào là một object, thực hiện xử lý tính toán và trả về một object khác. Một số hàm phổ biến:
- `print()` in giá trị ra màn hình
- `type()` xác định kiểu dữ liệu của object
- `len()` đo độ dài của một string

In [ ]:
print(3.14)
print('python')

3.14
python

In [ ]:
# string length
len('python')

6

**Comment** bắt đầu bằng dấu `#`, chỉ mang tính giải thích và không được thực hiện. Phím tắt: `Ctrl` + `/`. Mục đích sử dụng comment:
- Giải thích quá trình suy nghĩ
- Backup việc xóa code

### Các loại dấu

In [ ]:
# phép cộng
123 + 532

In [ ]:
# phép trừ
555 - 143

In [ ]:
# phép nhân
124 * 936

In [ ]:
# phép chia
48 / 12

In [ ]:
# lỗi
5 / 0

In [ ]:
# phép lũy thừa
2 ** 5

In [ ]:
# dấu so sánh
7 == 7

In [ ]:
7 > 4

In [ ]:
5 >= 3

### Formatting

In [ ]:
print('Hello!')

In [ ]:
age = 25
print(f'Tuổi của mình là {age}')

Tuổi của mình là 25

In [ ]:
prob = 0.6325
print(f'{prob:.2%}')

63.25%

## 2.2. Extension
**Pain point**: có những tác vụ mà các hàm sẵn có trong Python (built-in function) không thực hiện được. Cách giải quyết:
- Tự viết hàm riêng (user-defined function)
- Sử dụng hàm người khác viết sẵn (import library)

⏰ **Thêm hình**: Python workspace chứa built-in functions và built-in libraries.
Extension = UDF + third party libs

### User-defined function
Thành phần của một hàm: `function(input) -> output`
- **Tên hàm**, bắt đầu sau lệnh `def` (define).
- **Parameter** (tham số) là đầu vào của hàm.
- **Body** là toàn bộ phần code thực hiện tính toán, biến đổi input. Lùi vào 1 tab so với lệnh `def`.
- **Output** viết trong lệnh `return`.

In [ ]:
pow(base=5, exp=3)

125

In [ ]:
pow(2, 5)

32

In [ ]:
# cấu trúc của 1 hàm
def square(x):
    y = x ** 2
    return y

In [ ]:
square(100)

10000

### Thư viện
**Thư viện** (library, module hay package) là phần mở rộng của Python, chứa các object và function viết sẵn, nhằm phục vụ các mục đích riêng biệt như biến đổi dữ liệu (Pandas) hay vẽ biểu đồ (Seaborn). Đặc điểm:
- Phần lớn thư viện do **cộng đồng** phát triển (third-party), một số ít thuộc về Python chính chủ (built-in).
- Thường có **documentation** (tài liệu hướng dẫn) đầy đủ, source code được công khai trên **Github**.

**Cách 1:** Import toàn bộ thư viện `numpy`.

In [ ]:
import numpy
numpy.sqrt(16)

4.0

In [ ]:
import numpy as np
np.pi

3.141592653589793

**Cách 2:** Import các hàm và hằng số cụ thể.

In [ ]:
from numpy import pi, sqrt
sqrt(pi)

1.7724538509055159

In [ ]:
# should never be used
from numpy import *

**Cách 3:** Import một phần nhỏ của thư viện. Áp dụng đối với những thư viện lớn, đa chức năng.

In [ ]:
from scipy import stats

### Cài đặt thư viện

Đối với các thư viện không có sẵn trong Python, cần cài đặt để sử dụng các hàm trong thư viện. Các thư viện chuyên dùng cho thống kê bao gồm:
- Numpy và Scipy: tính toán thống kê và toán học
- Pandas: xử lý dữ liệu dạng bảng
- Seaborn: hỗ trợ vẽ biểu đồ thống kê

In [ ]:
# cài thư viện
!pip install numpy

#### Sử dụng thư viện

In [ ]:
import numpy as np

In [ ]:
# hằng số pi
np.pi

3.141592653589793

In [ ]:
# vô cùng
1/np.inf

0.0

In [ ]:
# căn bậc 2
np.sqrt(25)

5.0

In [ ]:
# logarit tự nhiên
np.log(np.e)

1.0

## 2.3. Numpy array

[Numpy](https://numpy.org/doc/stable/user/index.html#user) là thư viện cung cấp các hàm tính toán, xử lí vector và ma trận, chuyên dùng cho thống kê và phân tích dữ liệu. Array là đối tượng làm việc chính của Numpy, có tên đầy đủ là n-dimensional array (ndarray). Array có thể là một đại lượng vô hướng (0 chiều), một vector (1 chiều) hay một ma trận (2 chiều).

In [ ]:
import numpy as np

In [ ]:
np.array(7)

In [ ]:
type(np.array([1, 2, 3]))

In [ ]:
np.array([[3, 4], [7, 8]])

In [ ]:
# cộng 2 array kết quả là cộng từng phần tử
np.array([1, 2, 3]) + np.array([4, 5, 6])

In [ ]:
# nhân 1 array với 1 số, kết quả là nhân số đó với từng phần tử
np.array([1, 2, 3]) * 7

In [ ]:
x = np.array([-4, 6, -7])
np.abs(x)

♈ **Case study 1**

Tạo array A từ 0 đến 10 và array B chứa các số chẵn từ 0 đến 20 sau đó thực hiện phép nhân và cộng 2 array.
*Lưu ý: Chỉ có thể thực hiện phép tính khi 2 array có cùng độ dài*

In [ ]:
#@title
import numpy as np
A = np.arange(0, 11)
B = np.arange(0, 21, 2)
A+B

## 2.4. Pandas dataframe

[Pandas](https://pandas.pydata.org/docs/user_guide/index.html#user-guide) là thư viện cung cấp các hàm để làm sạch, xử lý dữ liệu và trực quan hóa dữ liệu dạng bảng. DataFrame là đối tượng làm việc chính trong Pandas và cũng là đối tượng làm việc chính của 1 DA.

Ví dụ về 1 dataframe (df):

|**STT**|ID|Customer|Age|Gender|
|:-|:-:|:-:|:-:|:-:|
|1|001|Alex|30|Male
|2|015|Kimmie|20|Female
|3|149|Tony|25|Male

Trong mỗi df, các cột được gọi là các trường dữ liệu và các dòng được gọi là các bản ghi.

In [ ]:
import pandas as pd

In [ ]:
# đọc dữ liệu
df = pd.read_csv("https://raw.githubusercontent.com/hungpq7/course-resource/main/data/hypothesis.csv")

In [ ]:
df.columns

Index(['id', 'area', 'gender', 'age', 'age_group', 'year_of_school', 'degree',
       'job', 'know_english', 'know_france', 'know_chinese', 'income',
       'booking_date', 'flight_date', 'flight_status', 'professionally_staff',
       'customer_service ', 'diversity_product', 'good_price',
       'easily_transaction', 'goodlooking_staff', 'diversity_flighttime',
       'good_construction'],
      dtype='object')

In [ ]:
df.head()

,id,area,gender,age,age_group,year_of_school,degree,job,know_english,know_france,...,flight_date,flight_status,professionally_staff,customer_service,diversity_product,good_price,easily_transaction,goodlooking_staff,diversity_flighttime,good_construction
0,1,central,female,69,middle,16,master,manager,1,1,...,01/05/2013,1,2,2,1,1,2,2,1,1
1,2,southern,female,50,middle,12,highshool,officer,0,0,...,01/05/2013,1,3,3,3,2,3,3,2,3
2,3,northern,male,73,elder,12,highshool,officer,1,0,...,01/05/2013,1,2,2,1,2,3,5,1,1
3,4,northern,female,73,elder,12,highshool,officer,0,0,...,01/05/2013,1,5,3,2,4,5,3,2,2
4,5,central,male,69,middle,16,master,officer,1,0,...,01/05/2013,0,3,3,3,3,3,3,3,3

In [ ]:
# truy cập 1 cột
df['gender']

0      female
1      female
2        male
3      female
4        male
        ...
495      male
496      male
497    female
498    female
499      male
Name: gender, Length: 500, dtype: object

In [ ]:
df.gender

In [ ]:
# truy cập nhiều cột
df[['gender', 'age', 'job']]

In [ ]:
# liệt kê tên cột
df.columns

In [ ]:
# tính toán trên các cột
df['language_count'] = df['know_english'] + df['know_france'] + df['know_chinese']

In [ ]:
# filter
df[df['gender']=='male']

In [ ]:
df['age'].sum()

29892

In [ ]:
# group by
df.groupby('gender').count()